/* src/components/Home.css */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: #121212;
  font-family: 'Press Start 2P', cursive;
  color: #00ffcc;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: #303030;
  text-shadow: 0 0 10px #00ffcc, 0 0 20px #ff0000, 0 0 30px #00ffcc, 0 0 40px #00ffcc;
}


button {
  background-color: #282828;
  border: 2px solid #00ffcc;
  color: #00ffcc;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #00ffcc;
  color: #282828;
  font-size: 1.3rem;
  border-radius: 100px;
}

a {
  text-decoration: none;
}

a:focus, button:focus {
  outline: none;
}


/* Sparkles Animation */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
  }
  
  .sparkle {
    position: absolute;
    width: 2px;
    height: 2px;
    background: #fff;
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
    animation: sparkle 2s infinite;
  }
  
  @keyframes sparkle {
    0% {
      transform: scale(1) translateY(0) rotate(0deg);
      opacity: 1;
    }
    50% {
      transform: scale(1.5) translateY(-20px) rotate(45deg);
      opacity: 0.5;
    }
    100% {
      transform: scale(1) translateY(0) rotate(90deg);
      opacity: 1;
    }
  }